{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My Django Project">
    <meta name="author" content="Naudy Noa">

    <title>{% block title %}My Django Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1 class="logo">My Django Project</h1>
        </div>
    </header>

    <main class="container">
        {% block main_content %}{% endblock %}
    </main>

    <footer class="main-footer">
        <p>© 2025 My Django Project | Developed with <span>❤</span> and Django</p>
    </footer>

    <script src="{% static 'core/script.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
